= form_tag password_resets_path, :method => :post do
  .field
    = label_tag :email, t('shared.navbar.email')
    = text_field_tag :email, params[:email]
  = submit_tag t('shared.navbar.reset_password'),  class: 'btn btn-primary', disable_with: t('helpers.disable_with')
