=APP_CONFIG.app_name

=@content[:body_title]
=@content[:body_subtitle]

=@content[:body_content]
 
=@content[:body_callout]


=t('user_mailer.welcome_email.welcome_user_contactinfo')
=t('user_mailer.welcome_email.welcome_user_contact_phone')
=t('user_mailer.welcome_email.welcome_user_contact_email')
=t('user_mailer.welcome_email.welcome_user_contact_email_address')
=t('user_mailer.welcome_email.welcome_user_contact_address')

Facebook 
https://www.facebook.com/hizmetkutusu
Twitter
https://twitter.com/hizmetkutusu
Google+ 
https://plus.google.com/u/0/b/111464930698652996593/111464930698652996593

=t('user_mailer.welcome_email.welcome_user_terms')  
http://hizmetkutusu.com/terms
=t('user_mailer.welcome_email.welcome_user_privacy') 
http://hizmetkutusu.com/privacy 
=t('user_mailer.welcome_email.welcome_user_unsubscribe') 
http://hizmetkutusu.com/unsubscibe
 
 
