- title t('.title')
.full-block.upper-page 
  .birlestir
    .column-14
      %h1=t('.blog_header') 
    .column-12.body-text
      %p=t('.blog_body') 
      .damian.image
        = image_tag asset_path('cini3.png'), alt: ''