- title t('.title')
.full-block.upper-page 
  .birlestir
    .column-14
      %h1=t('.faq_header') 
    .column-12.body-text
      %p=t('.faq_body') 
      .damian.image
        = image_tag asset_path('faq_header.png'), alt: ''
      %p
        %button.btn.btn-large.btn-warning.btn-faqcustomer{type: "button"}=t('.faq_customer_more')
        %button.btn.btn-large.btn-info.btn-faqprovider{type: "button"}=t('.faq_provider_more')
%a#faqcustomerf
.birlestir.asil_oneriler
  %h2
    %hr.left>/          
    =t('.faq_customer_title')
    %hr.right/ 
  .birlestir
    .satirbasi
      .nasilis6
        %h3=t('.faq_customer10')
        %p=t('.faq_customer20')  
      .nasilis6
        %h3=t('.faq_customer30')  
        %p=t('.faq_customer40')  
      .nasilis6
        %h3=t('.faq_customer50')
        %p=t('.faq_customer60')
      .nasilis6
        %h3=t('.faq_customer70')
        %p=t('.faq_customer80')
      .nasilis6
        %h3=t('.faq_customer90')
        %p=t('.faq_customer100')
      .nasilis6
        %h3=t('.faq_customer105')
        %p=t('.faq_customer107')
      .nasilis6
        %h3=t('.faq_customer110')
        %p=t('.faq_customer120')
      .nasilis6
        %h3=t('.faq_customer130')
        %p=t('.faq_customer140')
%a#faqproviderf
.birlestir.asil_oneriler
  %h2
    %hr.left>/          
    =t('.faq_provider_title')
    %hr.right/ 
  .birlestir
    .satirbasi
      .nasilis6
        %h3=t('.faq_provider10')
        %p=t('.faq_provider20')  
      .nasilis6
        %h3=t('.faq_provider30')  
        %p=t('.faq_provider40')  
      .nasilis6
        %h3=t('.faq_provider50')
        %p=t('.faq_provider60')
      .nasilis6
        %h3=t('.faq_provider70')
        %p=t('.faq_provider80')
      .nasilis6
        %h3=t('.faq_provider90')
        %p=t('.faq_provider100')
      .nasilis6
        %h3=t('.faq_provider110')
        %p=t('.faq_provider120')
      .nasilis6
        %h3=t('.faq_provider130')
        %p=t('.faq_provider140')
      .nasilis6
        %h3=t('.faq_provider150')
        %p=t('.faq_provider160')
      